<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thing.title %>
</p>

<p>
  <strong>Depreciation rate:</strong>
  <%= @thing.depreciation_rate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @thing.price %>
</p>

<p>
  <strong>Style:</strong>
  <%= @thing.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @thing.commission %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @thing.delivery %>
</p>

<p>
  <strong>Erasure:</strong>
  <%= @thing.erasure %>
</p>

<p>
  <strong>User:</strong>
  <%= @thing.user_id %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
